---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header'
import Footer from '../components/Footer.astro'
import DownloadPage from '../components/DownloadPage'
---

<BaseLayout title="Download ONPOINT" description="Download ONPOINT for macOS.">
  <Header client:idle />

  <main>
    <DownloadPage client:load />
  </main>

  <Footer />
</BaseLayout>
